<div class="row"> 
	<div class="span12">
		<h2 class="offset1"> between numbers <%= list.first[:number] %> and <%= list.last[:number] %> </h2>
	</div>
</div>
<div class="row "> 
	<div class="span6 offset1">
	<table class="table-bordered span6 lemontable"> 
		<thead> 
			<th> Number </th>
			<th> Type </th>
		</thead> 
		<tbody>
		<% list.each do |item| %>
		<tr class="<%= if item[:number] %  FIZ == 0 && item[:number] %  BUZ == 0
				'fizbuz'
			elsif item[:number] %  FIZ == 0
				'fiz'
			elsif item[:number] %  BUZ == 0
				'buz'
			else
				'justanumber'
			end %> entry fancy-hover">
			<td class="span2">
			<div>
				<%= item[:number] %>
			</td>
			<td>
				<%= item[:type] %>
			</td>
		</tr>
		<% end %>
		</tbody>
		</table>
	</div>
</div>
